useDynLib(disclapmix)
import(Rcpp)
import(disclap)
importFrom(cluster, pam, clara)
export(disclapmix)
export(clusterdist)
export(clusterprob)
S3method(print, disclapmixfit)
S3method(summary, disclapmixfit)
S3method(predict, disclapmixfit)
export(print.disclapmixfit)
export(summary.disclapmixfit)
export(predict.disclapmixfit)
