useDynLib(disclapmix)
import(disclap)
importFrom(cluster, pam, clara)
importFrom(Rcpp, sourceCpp)
importFrom(stats, simulate)
export(disclapmix)
export(clusterdist)
export(clusterprob)
S3method(print, disclapmixfit)
S3method(summary, disclapmixfit)
S3method(predict, disclapmixfit)
S3method(simulate, disclapmixfit)
S3method(plot, disclapmixfit)
export(print.disclapmixfit)
export(summary.disclapmixfit)
export(predict.disclapmixfit)
export(simulate.disclapmixfit)
export(plot.disclapmixfit)
export(haplotype_diversity)
export(generate_mixture)
export(contributor_pairs)
export(rank_contributor_pairs)
export(print.contrib_pairs)
export(print.ranked_contrib_pairs)
export(plot.ranked_contrib_pairs)
S3method(print, contrib_pairs)
S3method(print, ranked_contrib_pairs)
S3method(plot, ranked_contrib_pairs)
export(get_rank)
