useDynLib(disclapmix)
import(disclap)
importFrom(cluster, pam, clara)
importFrom(Rcpp, sourceCpp)
importFrom(stats, simulate)
export(disclapmix)
export(clusterdist)
export(clusterprob)
S3method(print, disclapmixfit)
S3method(summary, disclapmixfit)
S3method(predict, disclapmixfit)
S3method(simulate, disclapmixfit)
export(print.disclapmixfit)
export(summary.disclapmixfit)
export(predict.disclapmixfit)
export(simulate.disclapmixfit)
export(haplotype_diversity)
